body {
background-color: darkslateblue;
color: #fff;
font-size: 25px;
}

.main {
    display: flex;
    justify-content: space-around;
}


p.winner {
    text-align: center;
    color: gold;
    font-size: 30px;
}

button {
    display: block;
    margin: auto;
    padding: 20px 30px;
    background-color: orange;
    color: #fff;
    font-size: 30px;
}
